<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') -%>

  <body>

    <%- include('partials/_navigation') -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>Add New Post</h1>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="offset-2 col-lg-8 col-md-10 mx-auto">
            <div class="text-center text-uppercase mb-2 text-bg">Add a new Post</div>
            <form id="contact-form" action="" method="POST" class="tm-contact-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control rounded-0" placeholder="Post Name" required="" />
              </div>
              <div class="form-group">
                <select class="form-control" id="contact-select" name="inquiry">
                  <option value="-">Categories</option>
                  <option value="sales">Sales &amp; Marketing</option>
                  <option value="creative">Creative Design</option>
                  <option value="uiux">UI / UX</option>
                </select>
              </div>
              <div class="form-group">
                <textarea rows="8" name="message" class="form-control rounded-0" placeholder="Content"
                  required=""></textarea>
              </div>

              <div class="form-group mb-0">
                <button type="submit"
                  class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Submit</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <hr>

      <%- include('partials/_footer') -%>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>



  </body>

</html>